*{
	font-family: bradley hand;
}
.navigation{
	border: 3px solid black;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 120px;
}
.logo{
	
	margin-left: 110px;
}
.nav-links{
	
	margin-right: 100px;
}
.nav-links > a{
    text-decoration: none;
    color: black;
    margin: 10px;

}
.nav-links > a:hover{
	background-color: gray;
	color: white;
	transition: 0.5s;
}
.header{
	height: 650px;
	background-image: url(art/p.jpg);

	
}
.blackout{
	background-color: rgb(0,0,0,0.7);
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	
    }

.header-content{
	color: white;
	text-align: center;
	}
.header-content > a{
	text-decoration: none;
	color: white;
	background-color: rgb(0,137,123);
	margin-left: center;
	margin: 100px;
	display: inline-block;
	width: 145px;
	font-size: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
    }
}
.header-content > h1{
	font-size: 30px;
}
.header-content > h2{
	font-size: 30px;
}
.header-content > a:hover{
	border: 2px solid white;
	background-color: rgba(0,0,0,0);
	transition: 1s;


